snippet meta(data)? "Markdown metadata front matter" br
---
title: $1
date: "`!v strftime("%Y-%m-%d")`"
image: "$2"
author: "$3"
tags: [$4]
bibliography: /home/mateus/Documents/masterLib.bib
csl: /home/mateus/Documents/citation_styles/elsevier-vancouver.csl
link-citations: true
---
endsnippet

snippet link(data)? "Insert markdown link" br
[$1]($2)
endsnippet
